@using Netmennt.Models
@model LoginViewModel
@{
    ViewBag.Title = "Netmennt Home";
}


<div class="jumbotron">
    <h1>Netmennt</h1>
    <p class="lead">Learn just about everything anyone wants to teach online</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Go to dashboard", "Index", "Dashboard", null, null);
}
else
{
    Html.RenderAction("Login", "Account", null);

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
