body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/*Start of Dashboard tabs styling*/

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    margin-top: 0;
}

/*End of Dashboard tabs styling*/

.DashboardItem {
    border: 3px solid #777;
    border-radius: 10px;
    text-align:center;
    margin: 10px;
    background-color:azure;

}


/*Start of School */





/*End of School */

/*Start of CreateOrUpdateCourse*/

#CreateCourse {
    display:block;
    overflow:auto;
}

.ComponentHeader {
    width:100%; 
    background-color:#fefefe;
}

.ComponentName input[type=text]{
    width:500px;
    font-size:x-large;
    border: 2px solid;
    border-color:gray;
    border-radius:4px;
    background-color:#fefefe;
}

.ComponentInput input{
    vertical-align:middle;
}

.ComponentInput textarea{
    vertical-align:middle;
}

.ComponentInput {
    width:50%;
    padding-left:5px;
    float:left;
}

.ComponentInfo {
    width:100%;
    background-color:#ededed;
    margin-bottom:10px;
    padding:5px;
    overflow:auto;
}

.ComponentMedia {
    border:solid 2px;
    border-color:grey;
    background-color:#fafafa;
    border-radius:4px;
    text-align:center;
    vertical-align:middle;
    line-height:inherit;
    font-size:x-large;
    color:grey;
    box-sizing: border-box;
    width:25%;
    float:left;
    height:200px;
    overflow:hidden;
}

.ComponentMedia img {
    max-height:100%;
    max-width:100%;


}



#Topics {
    width:100%;
    background-color:#fefefe;
    display:block;
    overflow:auto;
}

/*End of CreateOrUpdateCourse*/
