@model IEnumerable<Netmennt.Entities.School>
<h3>Schools available</h3>


<input type="text" placeholder="Search school" id="somevalue" name="somevalue" data-autocomplete-url="@Url.Action("AutoComplete")" />